In [3]:
def printeven(n):
    count=0
    sum=0
    while(count!=n):
        if(count%2==0):
            sum=sum+count
        count=count+1
    return sum 
        
print(printeven(20))

90

In [ ]:
#functional programming
##factors of a given number

In [4]:
def factorslist(n):
    i=1
    while(i!=n):
        if(n%i==0):
            print(i,end= " ")
        i=i+1
    return  
factorslist(12)

1 2 3 4 6

In [ ]:
##list in python
##list can be written in python with square brackets and each item in the list seperated comma(,) operator
list can be anything-int,char,float&string
#examples of lists
*list1=[1,2,3,4,5]
*list2=["a","b","c"]
*list3=['maths','science']
##for loop
syntax
      for(VariableName in <seq>):
    <statements>

In [6]:
list1=[1,2,3,4,5];
print(list1)
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

In [9]:
list2=["sri","kanth"];
for x in list2:
    print(x,end=" ")

sri kanth

In [13]:
##list examples with particular index
list1=[1,2,3,4,5,6,7];
for x in list1:
    print(x,end=" ")
print()
print(list1[4])
print(list1[3:7])
print(list1[0:3])

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]

In [18]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ")
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[::2]);
print(list1[::3]);
print(list1[::-4])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 6, 2]

In [ ]:
##list with range() function
*range(number)
*o to number

In [35]:
list1=["sri",1,"kanth","lucky"];
print(list1)
list1[1]=15;
print(list1);
del list1[3];
print(list1);
list2=[1,2,3,4];
print(list1+list2);
print(len(list1))
list1.append(12345)
print(list1)
print(len(list1))
print(list1.count(12345))

['sri', 1, 'kanth', 'lucky']
['sri', 15, 'kanth', 'lucky']
['sri', 15, 'kanth']
['sri', 15, 'kanth', 1, 2, 3, 4]
3
['sri', 15, 'kanth', 12345]
4
1

In [1]:
numbers=[1,2,3,4];
numbers.append([5,6,7,8])
print(len(numbers))

5

In [2]:
##list with index
list1=["raptor","python","raptor",1,5,"python","python"]
print(list1)
list1.index("python")
list1.index(1)
list1.insert(2,2019)
print(list1)
print(len(list1))

['raptor', 'python', 'raptor', 1, 5, 'python', 'python']
['raptor', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8

In [3]:
##list with remove
list1=["gitam","python","raptor",1,5,"python","python"]
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)
list1.reverse()
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
['gitam', 'raptor', 1, 5, 'python', 'python']
['gitam', 'raptor', 1, 5, 'python']
['python', 5, 1, 'raptor', 'gitam']

In [10]:
##data structures
##linear search
def linearsearch(a,searchitem):
    flag=0
    for i in range(len(a)):
        if (a[i]==searchitem):
            flag=1
        break
    if(flag!=0):
        print("target item is found")
    else:
        print("target item is not found")
a=[1,2,3,4,5,6]
linearsearch(a,12)

target item is not found

In [14]:
##linear search duplicate
def lsd(a,searchitem):
    flag=0
    for i in range(len(a)):
        if( a[i]==searchitem):
            flag=flag+1
    print(flag)
a=[1,2,3,4,5,6,7,8]
lsd(a,4)

1